body{
    text-align: center;
    background-color: rgb(255, 0, 0);
    font-family: "Comic Sans MS";
    font-size: 40px;
}

.container{
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    border-radius: 20px;
    color: rgb(255, 0, 212);
    padding: 10px;
    width: 30%;
    margin: 40px;
}

.headings{
    color: blue;
    font-size: 60px;
}

input{
    color: brown;
    width: 20%;
}

button{
    width: 20%;
}
